body, html {
    min-height: 100vh;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    color: #495057;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    transition: .5s width;
}

.installation-box {
    width: 100%;
    padding: 20px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .1);
    transition: .5s width, .5s max-width;
}

.select-lang {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ced4da;
}

.select-lang option {
    padding: 5px;
}

.btn {
    margin-top: 10px;
    display: block;
    width: 100%;
    color: #fff !important;
    outline: none;
}

.extension-type {
    margin: 10px 0;
}

.extension-type hr {
    margin: 5px 0;
}

.extension-type>h6 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.col-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.extension .status {
    font-size: 11px;
}

.status-success {
    color: green;
}

.status-error {
    color: red;
}

.title {
    font-weight: bold;
}

.nav-link.active {
    background-color: #2a3042;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) {
    .installation-box {
        max-width: 600px;
    }
}

@media (min-width: 576px) {
    .installation-box {
        width: 90%;
    }
    .btn {
        margin-left: auto;
        max-width: 100px;
    }
}
